{% extends 'base.html' %}

{% block content %}
<h2>Add Student</h2>
<form method="post">
  <label for="student_id">Student ID:</label> 
  <input type="number" id="student_id" name="student_id" required><br><br>

  <label for="name">Name:</label> 
  <input type="text" id="name" name="name" required><br><br>

  <label for="course">Course:</label>
  <select id="course" name="course" required>
    <option value="" disabled selected>Select a course</option>
    <option value="BSIT">BSIT</option>
    <option value="BSHRM">BSHRM</option>
    <option value="BS in Accounting">BS in Accounting</option>
    <option value="BSBA">BSBA</option>
    <option value="BSTM">BSTM</option>
    <option value="BS in Math">BS in Math</option>
  </select><br><br>
  <button type="submit">Add Student</button>
</form>
{% endblock %}
