{% extends 'base.html' %}

{% block content %}
<div id="greet">
<h2>Welcome to the Student & Course Management System</h2>
<p>Your solution for managing student data and courses.</p>
</div>

<div id="stats">
  <h3>Current Statistics:</h3>
  <ul>
    <li>Total Students: <b>{{ total_students }}</b></li>
    <li>Last Added Student: <b>{{ last_student_name }}</b></li>
  </ul>
</div>

<p id="email-me">If your encounter any issues, please contact the system administrator at <a href="mailto:xeiverlein@gmail.com">support@gmail.com</a>.</p>
{% endblock %}
